* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li,
a {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}

body {
    background-image: url(https://img.freepik.com/free-photo/wall-wallpaper-concrete-colored-painted-textured-concept_53876-31799.jpg?w=1060&t=st=1693377576~exp=1693378176~hmac=5fc97cf12e1d4c4bab1ca797f9209f3ed7b218f9318f646328dab43f84f5913e);
    background-repeat: no-repeat;
    background-size: cover;  
    font-family: sans-serif;
}

.parent {
    height: calc(100vh - 60px );
}

.container {
    
    margin: 0 auto;
    padding: 0 15px;
    /* background-color: greenyellow; */
}


.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 15px;
}

/*!  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .container {
        width: 750px;
    }
}

/*! Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*! Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container {
        width: 1170px;
    }
}

/*! End media  */


/* Start header */

header {
    background-color: #333333ca;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

header .container .links ul {
    display: flex;
    gap: 20px;
}

header .container .links ul {
    display: flex;
    gap: 90px;
}

header .container .links ul li a {
    color: #FFF;
    font-size: 19px;
}

/* End header */

.parent .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.parent .container .dec {
    /* background-color: aqua; */
    width: 50%;
}

.parent .container .dec h1 {
    font-weight: bold;
    color: #FFF;
    text-align: center;
}

.parent .container .dec p {
    font-size: 19px;
    line-height: 1.6;
    color: #FFF;
    text-align: center;
}

.parent .container .form  {
    /* background-color: rebeccapurple; */
    width: 50%;
}

.parent .container .form .input_label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.parent .container .form .input_label .inp_one,.inp_two {
    width: 70%;
    padding: 15px 10px;
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: 0;
}

.parent .container .form  .input_felids {
    display: flex;
    justify-content: space-around;
}

.parent .container .form  .input_felids .input_felids_2 a,
.input_felids_1
{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    text-transform: uppercase;
}

.parent .container .form  .log {
    text-align: center;
    padding: 15px 20px;
}

.parent .container .form  .log button {
    /* text-align: center; */
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 16px;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    color: #f6f6f6;
    cursor: pointer;
    background: linear-gradient(to right, #333, #eee);
}

header .container .links i {
    font-size: 24px;
    margin-right: 30px;
}

header .container .links {
    position: relative;
}

@media (max-width: 768px) {  

    .parent .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100% ;
        align-items: center;
        font-size: 10px;
        justify-content: center;
        gap: 54px;
        
}
    .parent .container .form .input_label .inp_one, .inp_two {
        width: 100%;
        padding: 15px 10px;
        border: 0;
        border-radius: 10px;
        margin-bottom: 10px;
        outline: 0;
    }

    .parent .container .form .input_felids {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
        text-align: center;
    }
    header .container .links ul {
        display: none;
    }

    header .container .links i:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 169%;
        gap: 29px;
        width: fit-content;
        margin-right: 10px;
        background-color: #333333d1;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
    }

    header .container .links i:hover + ul li a {
        font-size: 14px;
        font-weight: 400;
    }
}

@media (min-width: 820px) {
    
header .container .links i {
    display: none;
}
}